name: spota_events
description: Event Discovery App for Bahir Dar

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  firebase_core: ^2.15.0
  firebase_auth: ^4.14.0
  cloud_firestore: ^4.9.0
  flutter_riverpod: ^2.4.0
  google_fonts: ^4.0.0
  provider: ^6.1.5+1
  http: ^1.1.0
  webview_flutter: ^4.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/icons/
    - assets/fonts/
